<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769390935626-utbs4ojahucl34ur10s13ggofh4a5p6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769390935626-utbs4ojahucl34ur10s13ggofh4a5p6l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>769390935626-5e790tuh4h8djmjdk3n74uqnrk6c7kdb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADf88blybOE1xd-RCL-BnpoK1iJTmsFSU</string>
	<key>GCM_SENDER_ID</key>
	<string>769390935626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>my.cook.flex</string>
	<key>PROJECT_ID</key>
	<string>my-cook-flex</string>
	<key>STORAGE_BUCKET</key>
	<string>my-cook-flex.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769390935626:ios:fb5ff864b059cb687f70b3</string>
</dict>
</plist>